.chat-area {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 0;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.chat-header h2 {
  font-size: 24px;
  margin: 0;
  flex-grow: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.chat-content {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.chat-content.empty {
  justify-content: center;
  align-items: center;
}

.chat-content.empty .center-logo {
  max-width: 200px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.chat-content.empty .center-logo:hover {
  opacity: 0.7;
}
